openkb.ini
openkb
netkb
*.*~
*.o
*.a
*.exe
*.dll
*.tar.gz
*.tgz
*.patch
*.diff
src/tools/kbcc
src/tools/kbview
src/tools/kbrowse
src/tools/kbmaped
src/tools/unexepack
src/tools/unexecomp
vendor/*/
*.vo
*.6
autoscan*.log
stderr.txt
stdout.txt
config.*
configure.scan
missing
autom4te.cache/
mkinstalldirs
install-sh
ltmain.sh
